
@keyframes animacao-caixa{
 
    from{

        background-color: brown; 
        border-radius: 0px; 
        top: 0;
        left: 0;
    }

    to{
        background-color: rgb(25, 239, 247);
        border-radius: 300px; 
        top: 200px;
        left: 200px;
    }

}
    


#caixa{
    width: 300px;
    height: 300px;
    background-color: brown;
    position: relative;
    animation: animacao-caixa 3s 3s 3 alternate;
}
   
    

